.main-title {
    font-size: 46px;
    font-weight: 800;
    color: #111827;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 17px;
    color: #6b7280;
    margin-bottom: 25px;
}

.insight-box {
    background-color: #f8fafc;
    padding: 18px;
    border-radius: 14px;
    border-left: 6px solid #2563eb;
    margin-bottom: 22px;
    font-size: 16px;
}

.warn-box {
    background-color: #fff7ed;
    padding: 18px;
    border-radius: 14px;
    border-left: 6px solid #f97316;
    margin-bottom: 22px;
    font-size: 16px;
}

.success-box {
    background-color: #f0fdf4;
    padding: 18px;
    border-radius: 14px;
    border-left: 6px solid #22c55e;
    margin-bottom: 22px;
    font-size: 16px;
}